.main-container{
    margin: auto;
    background-color: yellow;
    width: 380px;
    height: 450px;
    border: 5px solid black;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}
.grid-container{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.grid-items{
    position: relative;
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    background-size: contain;
}

.front-style{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; 
    cursor: pointer;
}

.front-show-btn{
    display: none;
    width: 100%;
    height: 100%; 
}

.img-card{
    position: absolute;
    top: 0px;
    left: 0px;
    /* display: none; */
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.show-answer{
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.flip{
    z-index: 0;
}


/* dash board area style */
.dashboard-area{
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}
.game-modes{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 176px;
    justify-content: space-evenly;
    /* border: 1px solid grey; */
}
.options-radio{
    cursor: pointer;
}
.options{
    display: flex;
    border-radius: 15px;
    flex-direction: row;
    justify-content: space-evenly;
    height: 45px;
    border: 2px solid grey;
}
.main-options{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 180px;
}
.main-btn{
    height: 30px;
    border-radius: 8px;
    width: 140px;
    cursor: pointer;
}

#timerCont{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    height: 100%;
    align-items: center;
}
#timer{
    margin-right: 8px;
}
.timeUpModal{
    display: none;
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    font-size: xx-large;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;

}

#timeUpBtn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    background-color: yellow;
    width: 119px;
    height: 48px;
    border-radius: 10px;
    cursor: pointer;
}

.countContainer{
    margin: auto;
    border: 15px solid black;
    border-radius: 20px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #55ff55;
    width: 170px;
    height: 70px;
    font-size: xx-large;
    justify-content: space-evenly;
    align-items: center;
}

.correctCont{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.restartBts{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    background-color: yellow;
    width: 119px;
    height: 48px;
    border-radius: 10px;
    cursor: pointer;
}

#modalRestart{
    flex-direction: column;
    height: 20%;
    margin-top: 100px;
    margin-left: 110px;
    border-radius: 15px;
    position: absolute;
    bottom: 90px;
    
}

.restartModal{
    display: none;
    width: 45%;
    height: 20%;
    background-color: red;
    position: absolute;
    font-size: xx-large;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.modelOpen{
    display: flex;
}
